auth:
  local:
    UrDBName:
      username: UrUsername
      password: UrPassword
      hostname: 127.0.0.1
      port: 3306
      schema: UrDBName

dir:
  env_name: site_env
  table: tables
  log: logs
  current: current

file:
  version: version
  log: history
